<div class="cart-heading">CART</div>

<div>You have bought the following items: </div>

<div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8"></div>
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"><b>Delete</b></div>
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"><b>Price</b></div>
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"><b>Quantity</b></div>
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"><b>Total</b></div>
</div>

<div class="row" ng-repeat="x in products" ng-if="x.numBought > 0">
    <div class="product-holder col-lg-3 col-md-3 col-sm-7 col-xs-7">
        <img class="product-image" ng-src="{{x.image}}" alt="{{x.description}}"/>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-1 col-xs-1">
        {{x.name}}
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        <button ng-click="deleteBoughtItem(x)"><i class="fa fa-trash" aria-hidden="true"></i></button>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        {{x.price | currency:$:0}}
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        {{x.numBought}}
        <button ng-click="addBoughtItem(x)">+</button>
        <button ng-click="subtractBoughtItem(x)">-</button>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        {{x.totalCost | currency:$:0}}
    </div>
</div>

<hr/>
<div class="row">
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10"></div>
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"><b>Total Items</b></div>
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"><b>Total Price</b></div>
</div>

<hr/>
<div class="row">
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10"></div>
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"><b>{{sum('numBought')}}</b></div>
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"><b>{{sum('totalCost') | currency:$:0}}</b></div>
</div>

</div>