<div class="cart-heading">CART</div>

<div>You have bought the following items:</div>


<table class="responsive-table responsive width-100">
    <tbody>
    <tr>
        <th class="text-center">Image</th>
        <th class="text-center">Product Name</th>
        <th class="text-center">Delete</th>
        <th class="text-center">Price</th>
        <th class="text-center">Quantity</th>
        <th class="text-center">Total</th>
    </tr>
    <tr ng-repeat="x in products" ng-if="x.numBought > 0">
        <td data-content="Image">
            <img class="product-image-cart" ng-src="{{x.image}}" alt="{{x.description}}"/>
        </td>
        <td data-content="Product Name">
            {{x.name}}
        </td>
        <td data-content="Delete">
            <button ng-click="deleteBoughtItem(x)"><i class="fa fa-trash" aria-hidden="true"></i></button>
        </td>
        <td data-content="Price">
            {{x.price | currency:$:0}}
        </td>
        <td data-content="Quantity">
            {{x.numBought}}
            <button class="btn inline-block" ng-click="addBoughtItem(x)">+</button>
            <button class="btn inline-block" ng-click="subtractBoughtItem(x)">-</button>
        </td>
        <td data-content="Total">
            {{x.totalCost | currency:$:0}}
        </td>
    </tr>
    <tr>
        <th class="text-center"></th>
        <th class="text-center"></th>
        <th class="text-center"></th>
        <th class="text-center"></th>
        <th class="text-center">Total Items</th>
        <th class="text-center">Total Price</th>
    </tr>
    <tr>
        <td class="text-center"></td>
        <td class="text-center"></td>
        <td class="text-center"></td>
        <td class="text-center"></td>
        <td class="text-center"><b>{{sum('numBought')}}</b></td>
        <td class="text-center"><b>{{sum('totalCost') | currency:$:0}}</b></td>
    </tr>
    </tbody>
</table>





















