<div ng-repeat="prod in products" ng-if="prod.productID == prodId">

        <div class="individual-prod-header">{{prod.name}}</div>
        <div class="individual-prod-image">
            <img ng-src="{{prod.image}}" alt="{{prod.name}}"/>
            <p>Number in cart: {{prod.numBought}}</p>
            <button class="btn" ng-click="addBoughtItem(prod)">Add to cart</button>
            <button class="btn" ng-click="addBoughtItem(prod)">+</button>
            <button class="btn" ng-click="subtractBoughtItemDashboard(prod)">-</button>
        </div>
        <div class="individual-prod-details position-relative">
            <h3 class="text-align-left">Specifications:</h3>
            <ul>
                <li class="text-align-left" ng-repeat="detail in prod.details">{{detail}}</li>
            </ul>
            <a class="color-inherit" href="#/"><button class="btn">Back</button></a>
        </div>

</div>
